/Hmwk/Assignment_1/nbproject/private/
/Hmwk/Assignment_1/DiceClass/nbproject/private/
/Lab/Lab Table Generation/nbproject/private/
/Hmwk/Tic-Tac-Toe/nbproject/private/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip